/* header */
header{background:rgba(230,240,249,0.5);padding-bottom:25px;}
.topheader{padding:10px 0;}
.dtIcon{background:rgba(238,51,78,0.05);width:40px;height:40px;border-radius:50%;text-align:center;align-items:center;justify-content:center;display:flex;}
.topcontact li{list-style:none;}
.topcontact li a{display:flex;align-items:center;font-size:16px;line-height:19px;color:#251A1A;}
.topcontact li a p{margin:0;margin-left:10px;}
.topcontact{min-width:540px;}
.logo img {
    max-width: 230px;
}
.border-btn{background:transparent;border:2px solid #0081C8;color:#0081C8;}
.topcontact li a:hover,footer li a:hover{color:#ee334e !important;}
/* navbar */
.menuBar{padding:15px 40px;background:#FFFFFF;box-shadow:0px 10px 30px rgba(72,5,130,0.05);border-radius:10px;margin-top:5px;}
.rightIcons li{margin-left:22px;}
.rightIcons img{width:22px;height:24px;}
.menuBar a.nav-link{font-family:Gill Sans;font-style:normal;font-weight:500;font-size:16px;line-height:19px;text-transform:uppercase;color:#251A1A;position:relative;min-width:90px;text-align:center;}
.menuBar a.nav-link.active:after{width:100%;height:4px;background:#00A651;border-radius:500px 500px 0px 0px;position:absolute;bottom:-15px;left:0;content:"";}

@media ( min-width:1366px){
    .topheader .container{max-width:1370px;}
}
@media ( min-width:1299px){
    .topheader .container{max-width:1230px;}
}
@media ( max-width:1199px){
    .topcontact {
        min-width: 470px;
    }
}

@media ( max-width:991px){
    .topcontact {
        display: none;
    }
    
    .logo img {
        max-width: 190px;
    }
    
    .menuBar {
        padding: 10px 20px 10px 10px;
    }
    
    button.navbar-toggler:focus { box-shadow: none; border:0; outline: none; }
    button.navbar-toggler span {
        width: 30px;
        height: 2px;
        background: #000;
        display: block;
        margin: 7px 0;
        border: 0 !important;
        border: 0 !important;
    }
    
    button.navbar-toggler span:nth-child(2) {
        width: 20px;
    }
    .navbar-collapse {
        position: absolute;
        top: 70px;
        z-index: 999;
        background: #fff;
        padding: 20px;
        width: 100%;
        left: 0;
        border-radius: 10px;
        box-shadow: 0 0 3px 1px #0001;
    }
    
    .menuBar {
        position: relative;
    }
    
    nav.navbar {
        position: static;
    }
    
    .navbar-collapse ul li {
        width: 100% !important;
        margin: 0 !important;
    }
    
    .navbar-collapse ul li a {
        display: block !important;
        text-align: left !important;
        padding: 10px 0 !important;
    }
    
    .menuBar a.nav-link.active:after {
        display: none;
    }
    
    .menuBar a.nav-link.active {
        color: #ee334e !important;
    }
}
@media ( max-width:380px){
    .topheader .mainBtn {
        padding: 12px 15px !important;
    }
    .logo img {
        max-width: 140px;
    }
}